<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header>{% include "navbar.html" %}</header> 
    <main>
        <h1 class="text-center">Welcome to Our Website</h1>
        <br/>
      <div class="d-flex justify-content-center text-center">
        <form action="/index/" method="POST"> {% csrf_token %}
            <input type="checkbox" id="checkbox" value="True" name="check">
            <label for="checkbox">Show Student Details</label>
            <button class="btn btn-primary">Submit</button>
          </form>

      </div>
      <div class="text-center">
        <h1>This is a home page</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis a
          ratione atque accusamus aut! Voluptatibus quo officia, voluptates
          maiores, vero voluptate quibusdam error rerum labore ut adipisci!
          Nemo, sequi necessitatibus. lorem500
        </p>
        <a href="/index/">
          <button type="button" class="btn btn-primary">Bact To Home</button>
        </a>
      </div>
      {% if isActive %}
      <div class="text-center">
        <h4>Today date is {{date}}</h4>
        <h1><u> Student Details</u></h1>
        <h2>Student name is {{student_data.student_name}}</h2>
        <h2>Student Colage is {{student_data.student_collage}}</h2>
        <h2>Student City is {{student_data.student_city}}</h2>
        <hr />
        <h1><u> Your Favorite Programs</u></h1>
        {% for p in list_of_program %}
        <h3>{{p}}</h3>
        {% endfor %}
      </div>
      {% endif %}
    </main>
    <footer class="mt-auto">
      {% include "footer.html" %}</footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
